<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="EzyHotel-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/ezyhotel</jta-data-source>
    <class>util.entity.ARContentViewEntity</class>
    <class>util.entity.ARGameStampBook</class>
    <class>util.entity.ARGameStampBookEntity</class>
    <class>util.entity.AccessCodeEntity</class>
    <class>util.entity.AffiliateContentEntity</class>
    <class>util.entity.AffiliateContentTagEntity</class>
    <class>util.entity.AffiliateContentViewEntity</class>
    <class>util.entity.AffiliateEntity</class>
    <class>util.entity.AugmentedRealityContentEntity</class>
    <class>util.entity.BidEntity</class>
    <class>util.entity.BookOnBehalfEntity</class>
    <class>util.entity.BookmarkEntity</class>
    <class>util.entity.CallReportEntity</class>
    <class>util.entity.ConfirmationEmailEntity</class>
    <class>util.entity.ConventionInstructionMemoEntity</class>
    <class>util.entity.CustomerEntity</class>
    <class>util.entity.CustomerMailingEntity</class>
    <class>util.entity.DeviceEntity</class>
    <class>util.entity.DeviceMaintenanceOrderEntity</class>
    <class>util.entity.ExternalMaintenanceCompanyEntity</class>
    <class>util.entity.FacilityEntity</class>
    <class>util.entity.FeedbackEntity</class>
    <class>util.entity.GroupBookingEntity</class>
    <class>util.entity.HotelEntity</class>
    <class>util.entity.HousekeepingForcastEntity</class>
    <class>util.entity.HousekeepingMaintenanceOrderEntity</class>
    <class>util.entity.HousekeepingManagerEntity</class>
    <class>util.entity.HousekeepingOrderDetailEntity</class>
    <class>util.entity.HousekeepingOrderItemEntity</class>
    <class>util.entity.HousekeepingPurchaseOrderEntity</class>
    <class>util.entity.HousekeepingRecordEntity</class>
    <class>util.entity.HousekeepingRequestEntity</class>
    <class>util.entity.HousekeepingSOPEntity</class>
    <class>util.entity.HousekeepingStaffEntity</class>
    <class>util.entity.InventoryEntity</class>
    <class>util.entity.LaundryItemEntity</class>
    <class>util.entity.LaundryRecordEntity</class>
    <class>util.entity.LeaveEntity</class>
    <class>util.entity.ListMenuItemEntity</class>
    <class>util.entity.LogEntity</class>
    <class>util.entity.LostFoundRecordEntity</class>
    <class>util.entity.LoyaltyEntity</class>
    <class>util.entity.LoyaltyTransactionEntity</class>
    <class>util.entity.MaintenanceOrderEntity</class>
    <class>util.entity.MaintenanceRecordEntity</class>
    <class>util.entity.MenuItemEntity</class>
    <class>util.entity.MerchandiseEntity</class>
    <class>util.entity.MerchandiseOrderDetailEntity</class>
    <class>util.entity.MerchandiseOrderEntity</class>
    <class>util.entity.MerchandiseOrderItemEntity</class>
    <class>util.entity.MerchandisePurchaseOrderEntity</class>
    <class>util.entity.OrderDetailEntity</class>
    <class>util.entity.OrderItemEntity</class>
    <class>util.entity.PaymentEntity</class>
    <class>util.entity.PaymentMethodEntity</class>
    <class>util.entity.PictureEntity</class>
    <class>util.entity.PriceRateEntity</class>
    <class>util.entity.ProgramEntryEntity</class>
    <class>util.entity.PromotionEntity</class>
    <class>util.entity.ProxyBidEntity</class>
    <class>util.entity.PublicRelationProgramEntity</class>
    <class>util.entity.PurchaseOrderEntity</class>
    <class>util.entity.ReserveFacilityEntity</class>
    <class>util.entity.RoomAmenityEntity</class>
    <class>util.entity.RoomAssetEntity</class>
    <class>util.entity.RoomBookingEntity</class>
    <class>util.entity.RoomEntity</class>
    <class>util.entity.RoomOrderEntity</class>
    <class>util.entity.RoomOrderItemEntity</class>
    <class>util.entity.RoomServiceOrderEntity</class>
    <class>util.entity.RoomTypeEntity</class>
    <class>util.entity.SalesCallGuidelineEntity</class>
    <class>util.entity.SalesCallResultEntity</class>
    <class>util.entity.SalesPackageEntity</class>
    <class>util.entity.SalesStaffEntity</class>
    <class>util.entity.StaffEntity</class>
    <class>util.entity.SupplierEntity</class>
    <class>util.entity.TrainingRosterEntity</class>
    <class>util.entity.TransactionEntity</class>
    <class>util.entity.ViewEntity</class>
    <class>util.entity.WorkRosterEntity</class>
    <class>util.entity.InventoryUsageEntity</class>
    <class>util.entity.InvoiceEntity</class>
    <class>util.entity.RoomOrderEntity</class>
    <class>util.entity.RoomOrderItemEntity</class>
    <class>util.entity.SalesCallGuidelineWysiwygEntity</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
    </properties>
  </persistence-unit>
</persistence>
